@import 'main.css';

.info {
	margin-bottom: 50px;
}

.info > .imageUser {

	text-align: center;
	

	padding: 30px;
}

.info > .imageUser > img {

	background-color: #ccc;
	height: 35vh;
	width: 35vh;
	object-fit: cover;
	border-radius: 50%;
}

.info > .infoUser {

	display: flex;
	padding: 15px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.info > .infoUser > .typeInfo {

	border-radius: 8px;
	border: .1px solid #888;
	padding: 30px;
	flex-grow: 1;
	margin: 18px;


}

.info > .infoUser > .typeInfo > h4 {

	margin-bottom: 8px;
}

.info > .infoUser > .typeInfo > hr {

	border: .01px solid #ccc;

}

.info > .infoUser > .typeInfo > .itemInfo {

	display: flex;
	justify-content: space-between;
	margin: 12px;

}

.info > .infoUser > .typeInfo > .itemInfo > .dato > a {

	text-decoration: none;
	color: #000;
}

.info > .infoUser > .typeInfo > .itemInfo > .dato > a:hover {

	text-decoration: 1px underline #4e9;
	color: #888;
}

.info > .btnContainer {

	margin-top: 40px;
	width: 100%;
	text-align: right;
}

.info > .btnContainer > a{

	text-decoration: none;
	color: #000;
	background-color: var(--second-color);
	padding: 10px 20px;
	margin-right: 15px;
	border-radius: 5px;
	align-self: flex-end;
}

.info > .btnContainer > a:hover {

	background-color: var(--second-colorhover);
}

@media screen and (max-width: 405px) {

	.info > .infoUser > .typeInfo > .itemInfo > .dato {

		max-width: 80px;
		overflow: hidden;
	}

}

@media screen and (max-width: 350px) {

	.info > .infoUser > .typeInfo > .itemInfo > .dato {

		max-width: 50px;
		overflow: hidden;
	}

}

.dato {
	background-color: transparent;
}

