@import 'scrollbar.css';
@import 'normalize.css';

@font-face {

    font-family: "principalFont";
    src: url('../fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf');
}

@font-face {

	font-family: 'shizuru';
	src: url('../fonts/Shizuru/Shizuru-Regular.ttf');
}

@font-face {

	font-family: 'nunito';
	src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

:root {

	--main-color: #fff;
	--second-color: #49e;
	--second-colorhover: #27c;
	--three-color: #fe7;
	--three-colorhover: #dc5;
	--disabled-color: #25a;
	--tetra-color: #16c;
	--five-color: #4e9;
	--hex-color: #5af;
}

* {

	margin: 0;
	scroll-margin-top: 100px;
	scroll-behavior: smooth;

}

html {
	font-family: "nunito", "principalFont", Century Gothic, "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 20px;

}

body {

	background: linear-gradient(to right, #eef, #fff);
	
}

::selection {

	background-color: var(--three-color);

}




